/.git
/.github
/.env
/.env.*
!/.env.example
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/.phpunit.result.cache
/phpunit-watcher.yml
/.idea
/.vscode
/.fleet
**/.DS_Store
**/Thumbs.db

/storage/app/public/*
!/storage/app/public/.gitignore
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
